/* navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  
}
.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  display: none;
  z-index: 1;
}
.navbarWeb {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  z-index: 852;
}
.menu-itemsWeb :hover{
  font-weight: bolder;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 10px;
}
.containerWeb{
  display: flex !important;
  align-items: center !important;
}
.menu-itemsWeb{
  display: flex;
  gap: 4rem;
}
.menu-itemsWeb li{
  list-style-type: none;
}
.menu-itemsWeb li a{
  text-decoration: none;
  color: #000;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.navbar .menu-items {
  display: flex;
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
}
.nav-container {
  display: block;
  position: relative;
  height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  background: aqua;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
/* navbar-end */
@media (max-width: 900px) {
  .navbar{
    display: block;
    z-index: 100;
  }
  .navWeb {
    display: none;
    z-index: 100;
  }
}
/******acceuile*****/
.parent-ss{
  display: flex;
  width: 50%;
  height: 90vh;
  padding: 22px 6px 22px 0px;
  justify-content: center;
  align-items: center;
  gap: 400px;
  background: #CBCBCB;
}
.child-sc{
  width: 50%;
  height: 90vh;
  position: absolute;
  right: 0px;
  background: #726D6D;
}
.child-ss h2{
  width: 339px;
  height: 130px;
  position: absolute;
  left: 14px;
  top: 160px;
  text-align: center;
  font-family: Inter;
  font-size: 55px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;

}
.child-ss p{
  width: 521px;
  height: 101px;
  position: absolute;
  left: 47px;
  bottom: 325px;
  text-align: center;
  font-family: Inter;
    font-size: 25px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.parent-ss h1 span{
  color: #EDE4E4;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.parent-ss h1{
  width: 297px;
height: 28px;
position: absolute;
right: 800px;
top: 70px;
z-index: 1;
color: #1D1C1C;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: italic;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
} 
.lcc{
  width: 262px;
  left: -131px;
  height: 850px;
  position: absolute;
  bottom: -18px;
}
.rechz{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 23px;
  top: 16px;
}
.add{
  width: 138px;
  height: 150px;
  position: absolute;
  right: 130px;
  top: 171px;
}
.niik{
  width: 182px;
  height: 180px;
  position: absolute;
  right: 300px;
  top: 300px;
}

.child-sc .add:hover , .child-sc .niik:hover ,.child-sc .rechz:hover{
  transform: scale(1.02);
  transition: 0.5s;
  border-radius: 30px;
  border: 2px solid #c03030;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}
.vod{
  width: 200px;
  height: 363px;
  position: absolute;
  right: 550px;
  top: 400px;
  border-radius: 44px;
  border: 2px solid #000000;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
  z-index: 1;
  text-align: center;
}
.vod-1{
  width: 200px;
  height: 383px;
  position: absolute;
  left: 600px ;
  top: 100px; 
  border-radius: 44px;
  border: 2px solid #000000;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
  z-index: 1;
  text-align: center;
}
.vod-1:hover{
  transform: scale(1.02);
  transition: 0.5s;
  border-radius: 30px;
  border: 2px solid #c03030;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  opacity: 1;
}
.vod-1 img{
  border-radius: 44px;
  width: 190px;
  height: 228px;
}
.vod img{
  border-radius: 44px;
  width: 195px;
  height: 230px;
}
.vod-1:hover img{
  transform: scale(1.02);
  transition: 0.5s;
  border-radius: 30px;

}
#e{
  position: absolute;
  bottom: 0.5%;
  left: 29%;
}
#e:hover , .vod-1 h4:hover {
  transform: scale(1.01);
  z-index: 2;
  transition: 60s;
  border-radius: 44px;
  border: 2px solid #888181;
  cursor: pointer;
  transition: 0.5s;
  opacity: 4.5;
  background: #605f5f;
  color: #bfff00;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}
.vod h3{
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  margin-top: 10px;
  text-align: center;
  position: relative;
  margin: 0 10px;
  text-transform: uppercase;
  z-index: 1;
  transition: 0.5s;
}
.child-ss h2:hover{
  opacity: 1;
  transform: scale(1.01);
  z-index: 2;
  transition: .5s;
  cursor: pointer;
  transition: 0.5s;
  color: #774949;
  text-transform: uppercase;
}
.child-ss p:hover{
  opacity: 1;
  transform: scale(1.01);
  z-index: 2;
  transition: .5s;
  cursor: pointer;
  transition: 0.5s;
  color: #774949;
  text-transform: uppercase;
}
.vod span{
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  color: #000000;
  text-align: center;
}
.vod-1 h4{
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  margin-top: 10px;
  text-align: center;
  position: relative;
  margin: 0 10px;
  text-transform: uppercase;
  z-index: 1;
  transition: 0.5s;
}
.vod-1 h4:hover{
  opacity: 1;
  transform: scale(1.01);
  z-index: 2;
  transition: .5s;
  cursor: pointer;
  transition: 0.5s;
  color: #dbfd01;
  text-transform: uppercase;
  text-align: center;
}
.vod-1 span{
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  color: #000000;
  text-align: center;
  z-index: 1;
  transition: 0.5s;
}
.vod:hover h3,.vod:hover span{
  transform: scale(1.01);
  z-index: 2;
  transition: .5s;
  border-radius: 44px;
  border: 2px solid #888181;
  cursor: pointer;
 
  opacity: 4.5;
  background: #605f5f;
  color: #bfff00;
  text-align: center;
  text-transform: uppercase;
  text-align: center;

}
.parent-ss .p{
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase; 
  z-index: 1;
  transition: 0.5s;
}
.vod:hover{
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
  transition: 60s;
  border-radius: 44px;
  border: 2px solid #000000;
  cursor: pointer;
  transition: 0.5s;
  opacity: 4.5;
}
/* inscription */
.legend-section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100%;
  background: url(dima-dallacqua-OpatAKKXE_k-unsplash.jpg) no-repeat ;
  background-position: center;
  background-size: cover;
}
.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: rgb(197, 199, 195);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px) ;
  display: flex;
  border-radius: 44px;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 2em;
  color:#000000;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputbox{
  position:relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #000000;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
  top: -5px;
}
.input{
  width: 100%;
  height: 50px;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
  border: none;
  outline: none;
  background:transparent;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: centre;
}
.forget label input{
  margin: 3px;
}
.forget label a{
  color: #000000;
  text-decoration: none ;
}
.forget label a:hover{
  text-decoration: underline ;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 44px;
  background: #ffffff;
  border: none;
  outline: none ;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600 ;
}
.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;

}
/* inscrioption end */
/***********************************************************/
/* galerie */
.galerie{
width: 100%;
height: 100vh;
}
.ga-1-1 img{
width: 348px;
height: 613px;
border-radius: 44px;
border: 10px solid #565555;

}
.ga-1:hover img{
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
15px 12px rgba(0,0,0,0.22);
border-radius: 44px;
border: 10px solid #565555;

}
.ga-1-1{
  display: flex;
  justify-content: space-around;
}
.ga-01 {
  text-align: center;
  margin-bottom: 20px;
  flex-basis: calc(33.33% - 20px); 
}
.ga-01 p,
.ga-01 h4 {
  text-align: center;
}
/* *************************************  */
.ga-2 img{
  width: 348px;
  height: 613px;
border-radius: 44px;
border: 10px solid #565555;
gap: 20px;
}
.ga-2:hover img{
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
15px 12px rgba(0,0,0,0.22);
border-radius: 44px;
border: 10px solid #565555;
 
}
.ga-2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
.ga-3 img{

width: 348px;
height: 613px;
 border-radius: 44px;
 border: 10px solid #565555;
}
.ga-3:hover img{
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
15px 12px rgba(0,0,0,0.22);
border-radius: 44px;

border: 10px solid #565555;
 
}
#H11{
  position: relative;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  z-index: 1;
  border-top: 10px;
  border-bottom: 10px;
}
/*************************************************************************/
/* catalogue */
.sesection{
  width: 100%;
  
} 
.sesection .catal{
  margin-left: 246px;
  border: 2px solid rgb(0, 0, 0);
  width: 256px;
  height: 302px;
  border-radius: 44px;
  
}
.catal{
  display: flex;
  justify-content: space-between;
  gap: 100px;

}
.catal  .ima-1 img{
  width: 250px;
  height: 211px;
  border-radius: 44px;
}
.ima-1:hover img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
  15px 12px rgba(0,0,0,0.22);
  border-radius: 44px;
}
.ima-1 p{
  width: 261px;
  height: 40px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-transform: uppercase;
}
.ima-1 h3{
  padding-left: 180px;
  padding-top: 20px;
  width: 88px;
  height: 27px;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.ima-2{
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  width: 256px;
  height: 302px;
  border-radius: 44px;
}
.catal .ima-2 img{
  width: 250px;
  height: 211px;
  border-radius: 44px;
}
.ima-2 p{
  width: 174px;
height: 74px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 100;
line-height: normal;
text-transform: uppercase;
}
.ima-2 h3{
  margin-left: 170px;
  margin-top: -20px;
}
.ima-2:hover img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
  15px 12px rgba(0,0,0,0.22);
  border-radius: 44px;
}
.catal  .ima-3 img{
  width: 250px;
  height: 211px;
  border-radius: 44px;
}
.ima-3:hover img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
  15px 12px rgba(0,0,0,0.22);
  border-radius: 44px;
}
.ima-3 p{
  width: 164px;
  height: 64px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-transform: uppercase;
}
.ima-3{
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  width: 256px;
  height: 302px;
  border-radius: 44px;
}
.ima-3 h3{
  margin-left: 170px;
}
#etoil{
  margin-left: 69px;
  position: absolute;
  top: 40%;
}
.catal  .ima-4 img{
  width: 250px;
  height: 211px;
  border-radius: 44px;
}
.ima-4 p{
  width: 174px;
  height: 62px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-transform: uppercase;
}
.ima-4:hover img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
  15px 12px rgba(0,0,0,0.22);
  border-radius: 44px;
}
.ima-4{
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  width: 256px;
  height: 302px;
  border-radius: 44px;
}
.ima-4 h3{
  margin-left: 170px;
}
/* women */
.sesection-2{
  width: 100%;
  height: 100vh;
}
.ima-w-1{
background-color: #f1f9f6f3;
width: 244px;
height: 350px;
flex-shrink: 0;
border-radius: 44px;
border: 2px solid #000;
}
.ima-w-1 img{

  width: 239px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 44px;
}
.ima-w-1 p{
  width: 162px;
  height: 75px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-transform: uppercase;
}
.ima-w-1 h3{
  position: relative;
left: 70%;
top: -15%;
  width: 75px;
  height: 27px;
  color: #000000;
  font-family: Inter;
  font-size: 20px;
}
#etoil-1{
  position: relative;
  bottom: 9%;
  right: -19%;
}
.catal-1{
  padding-left: 239px;
  position: relative;
  top: 10%;
  display: flex;
  justify-content: space-between;
}
.ima-w-2{
  background-color: #f1f9f6f3;
  width: 244px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 44px;
  border: 2px solid #000;
  }
  .ima-w-2 img{
    width: 239px;
    height: 245px;
    flex-shrink: 0;
    border-radius: 44px;
  }
  .ima-w-2 p{
    width: 162px;
    height: 75px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
  }
  .ima-w-2 h3{
    position: relative;
  left: 70%;
  top: -15%;
    width: 75px;
    height: 27px;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
  }
  .catal-1:hover img{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0
    15px 12px rgba(0,0,0,0.22);
    border-radius: 44px;
  }
  /********************contact*****************/
  

  
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}
/* Left contact page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}
.form-control, 
textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
    box-shadow: none;
    background-color: transparent;
    outline: none;
    font-family: 'Lato';
    font-weight: 400;
}
.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}
.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}
.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}
/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}
/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}
.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}
.place {
  margin-left: 62px;
}
.phone {
  margin-left: 56px;
}
.gmail {
  margin-left: 53px;
}
.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.social-media-list li a {
  color: #fff;
}
.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}
.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}
.social-media-list li:hover {
  background-color: #fff; 
}
.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  padding-top: 19px;
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}


@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.body {
  margin: 0;
  padding: 0;
  background-color: #969292;
  padding-bottom: 100px;
}